html,
body {
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: "Libre Franklin", sans-serif;
    background-image: url("bg.jpg");
    background-size: 100%;
}

h1 {
    margin: 0 ;
    text-align: left;
}

#inputswrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;
    margin: 0 0 20px;
    padding: 20px 20px 0;
}

#quantitywrapper,
#codewrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#quantitywrapper {
    flex-basis: 40%;
}

#codewrapper {
    margin-left: 20px;
}

#code {
    width: 500px;
}

#quantity {
    width: 300px;
}

#quantity,
#code {
    text-align: center;
    font-weight: 700;
    color: #000;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    margin-left: 20px;
    height: 80px;
    display: block;
    border-radius: 30px;
}

#inputswrapper input:disabled {
    background: rgba(255, 255, 255, 0.8);
    color: #aaa;
}

#fullscreen {
    cursor: pointer;
    width: 40px;
    filter: invert(100%);
    position: absolute;
    top: 20px;
    right: 10px;
}

#github {
    position: absolute;
    top: 20px;
    right: 70px;
}

#github svg {
    fill: white;
}

#resultwrapper {
    display: none;
}

#result {
    background: rgba(255, 255, 255, 0.85);
    font-size: 20px;
    color: #000;
    padding: 20px;
    margin: 20px;
    column-count: 9;
}

#result span {
    width: 130px;   
    margin: auto auto 2px;
    display: block;
}

#loader {
    text-align: center;
    margin: 100px auto;
    display: none;
    font-size: 100px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;

}