html,
body {
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: "Libre Franklin", sans-serif;
    background-image: url("bg.jpg");
    background-size: 100%;
}

h1 {
    margin: 0 ;
    text-align: left;
}

#inputswrapper {
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;
    margin: 0 0 20px;
    padding: 20px 20px 0;
}

#occasionwrapper,
#codewrapper {
    align-items: center;
}

#occasionwrapper {
    margin-top: 50px;
}

#codewrapper {
    margin-left: 0px;
    margin-top: 20px;
}

#code {
    width: 140px;
    text-transform: uppercase;
    text-align: center;
}

#occasion {
    width: 320px;
}

#occasion,
#code {
    font-weight: 700;
    color: #000;
    font-size: 9px;
    margin: 4px 0px 0px 0px;
    padding: 0px 10px;
    height: 30px;
    display: block;
    border-radius: 30px;
}

#inputswrapper input:disabled,
#inputswrapper select:disabled {
    background: rgba(255, 255, 255, 0.8);
    color: #aaa;
}

#fullscreen {
    cursor: pointer;
    width: 40px;
    filter: invert(100%);
    position: absolute;
    top: 20px;
    right: 10px;
}

#github {
    position: absolute;
    top: 20px;
    right: 70px;
}

#github svg {
    fill: white;
}

#resultwrapper {
    display: none;
    margin-top: 40px;
}

#result {
    background: rgba(255, 255, 255, 0.85);
    font-size: 20px;
    color: #000;
    padding: 20px;
    margin: 20px;
    column-count: 9;
    column-width: 7em;
}

#result span {
    width: 130px;   
    margin: auto auto 2px;
    display: block;
}

#loader {
    text-align: center;
    margin: 100px auto;
    display: none;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;

}

@media screen and (min-width: 500px) {
    #occasionwrapper {
        margin-top: 0px;
    }
}

@media screen and (min-width: 700px) {
    #inputswrapper {
        display: grid;
        grid-template-columns: 360px auto;
    }
    #codewrapper {
        margin-top: 0px;
    }
    #resultwrapper {
        margin-top: 0px;
    }

}
@media screen and (min-width: 820px) {
    #inputswrapper {
        grid-template-columns: 500px auto;
    }
    #occasion,
    #code {
        font-size: 15px;
        height: 40px;
    }
    #code {
        width: 200px;
    }
    #occasion {
        width: 460px;
    }
}
@media screen and (min-width: 1020px) {
    #inputswrapper {
        grid-template-columns: 620px auto;
    }
    #occasion,
    #code {
        font-size: 20px;
        height: 55px;
    }
    #code {
        width: 220px;
    }
    #occasion {
        width: 580px;
    }
}
@media screen and (min-width: 1220px) {
    #inputswrapper {
        grid-template-columns: 740px auto;
    }
    #occasion,
    #code {
        font-size: 25px;
        height: 65px;
    }
    #code {
        width: 250px;
    }
    #occasion {
        width: 700px;
    }
}
